@import "variables";
@import "mixins";

.db {
  margin-top: 20px;
  .db__header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: $db-header-height;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(60, 64, 67, 0.15px);
    z-index: 1000;
  }
  .db__new {
    margin-top: $db-header-height;
    padding: 1.5rem 0;
    background-color: #dadce0;
  }
  .db__view {
    padding: 0 15px;
  }
  .db__create {
    width: 160px;
    height: 160px;
    background: #fff;
    border-radius: 4px;
    border: 1px solid $border-color;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-decoration: none;
    color: #000000;
    text-align: center;
    &:hover {
      color: green;
      border-color: green;
      cursor: pointer;
    }
  }
  .db__table {
    padding: 1rem;
  }
  .db__list-header {
    display: flex;
    justify-content: space-between;
    color: #202124;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 0 12px;
  }
  .db__list {
    @include clear-list;
  }
  .db__record {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 14px 12px 16px;
    margin-bottom: 10px;
    &:hover {
      background-color: #e6f4ea;
      border-radius: 25px;
    }
    a {
      text-shadow: none;
      cursor: pointer;
      font-size: 14px;
      color: #202124;
      &:hover {
        text-decoration: underline;
      }
    }
  }

}
